@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: #829ab0;
    --clr-grey-7: #9eb2c7;
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
}

h1::after {
    content: "";
    display: block;
    height: 5px;
    width: 10%;
    text-decoration: underline;
    background-color: mediumaquamarine;
    margin-right: auto;
    margin-left: auto;
}

.review {
    box-shadow: var(--dark-shadow);
    width: 768px;
}

.img-container {
    position: relative;
    background-color: white;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    margin-top: 60px;
}

#person-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-top: 20px;
}

.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

h4 {
    text-align: center;
}

#job {
    color: var(--clr-primary-5);
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

.next-btn,
.prev-btn {
    background: none;
    border: transparent;
    font-size: 28px;
    color: var(--clr-primary-5);
    cursor: pointer;
    transition: 300ms;
    padding-left: 10px;
    padding-right: 10px;
}

.next-btn:hover {
    text-decoration: underline;
    transform: scale(1.3);
}

.prev-btn:hover {
    text-decoration: underline;
    transform: scale(1.3);
}
